lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

RetrofitAPINode/node_modules
RetrofitAPINode/npm-debug.log

AndroidGlobomanticsApp/*.iml
AndroidGlobomanticsApp/.gradle
AndroidGlobomanticsApp/local.properties
AndroidGlobomanticsApp/.idea/workspace.xml
AndroidGlobomanticsApp/.idea/libraries
AndroidGlobomanticsApp/.DS_Store
AndroidGlobomanticsApp/build
AndroidGlobomanticsApp/captures
AndroidGlobomanticsApp/.externalNativeBuild
